<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}" />
        <link rel="preload" as="style" fetch-priority="high" href="{{ url_for('static', filename='site.css') }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sixtyfour&family=VT323&display=swap" rel="stylesheet">

    </head>

    <body>
        <div class="screen-border screen-border-outer"><div class="screen-border screen-border-inner"></div></div>
        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>&copy; 2025</p>
            </footer>
        </div>
    </body>
</html>
